<div id="collapse" class="add_message fluid">
	<% form_for(:message, :url => messages_path, :html => { :multipart => true }) do |f| -%>
			
		<%= f.error_messages %>
		<% if @recipient_id == nil %>
			<div class="form_field">
				<%= f.collection_select(:recipient_id, @users, :id, :name, options ={:prompt => "Select Friend"}) %>
			</div>
		<% else %>
	    	<label for="title">Recipient:</label>
			<%= User.find_by_id(@recipient_id).name %><br/><br/>
			<%= f.hidden_field(:recipient_id, :value=>@recipient_id) %>	
		<% end %>
		<div class="field">
			<%= f.text_field :subject, :class=>'input_field shadow', :value=>@subject, :placeholder => "Subject" %>
		</div>
		<div class="field">
			<%= f.text_area :body, :cols=>60, :rows=>20, :class=>"mceEditor shadow", :placeholder => "Message" %>
		</div>
		<div class="actions">
	    	<%= f.submit "Send", :class=>'shadow blend' %>
	    </div>
	<% end %>
	<div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>

