<ul class="list">
    <li><h3>
        <%= current_user.bio %>
    </h3></li>
    <li><h3>
        <%= current_user.sex %>
    </h3></li>
    <li><h3>
        <%= current_user.birthday %>
    </h3></li>
    <li><h3>
        <%= current_user.hometown %>
    </h3></li>
    <li><h3>
        <%= current_user.current_city %>
    </h3></li>
    <li><h3>
        <%= current_user.interested_in %>
    </h3></li>
    <li><h3>
        <%= current_user.looking_for %>
    </h3></li>
</ul>