<div summary="Information about following/followers">
    <div class="sidebar fluid shadow">
        <%= render 'shared/user_info' %><br/>
        <%= render 'shared/stats' %>
    </div>
    <div class="fluid main">
      <h1>Followers</h1>
      <% unless @users.empty? %>
        <ul class="users shadow">
          <%= render @users %>
          <% @users.each do |user| %>
                    <%= image_tag user.avatar.url(:thumb) %>
        <% end %>
        </ul>
        <%= will_paginate @users %>
      <% end %>
</div>
